<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content = "ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'runVRP/css/bootstrap.min.css' %}" type="text/css">
</head>

<body>

<form action="" method="post">
    {% csrf_token %}
    <button type = "submit" name="run_script">Run Script</button>
</form>

<br>
<br>
{{df_html|safe}}

<br><br><br>


<form action="" method="post" id="saveFormVRP">
    {% csrf_token %}
    <!--Following renders input tage with type:hidden, id:saveFieldVRP, name:savedataVRP -->
   {{ saveForm }}
    <button name="save_form" onClick = "saveVRP()">Save VRP Results</button>
</form>

<a href="{% url 'runVRPApp:comparison' %}">Results Comparison Page</a>
</body>

<script>
function getDFValues(){
    //returns inner table values without headers or index row
    //get table
    let Table = document.getElementsByClassName("dataframe");
    //get number of rows in table
    let rowNum = Table[0].rows.length;
    //declare array of values to be returned
    let vals = [];
    //loop through rows but exclude headers (row 0)
    for(let i=1; i<rowNum; i++){
        //get cells of current row
        let Cells = Table[0].rows.item(i).cells;
        //get number of cells in current row
        let cellNum = Cells.length;
        //loop through each cell in the current row except the index row (row0)
        for(let j=1; j<cellNum; j++){
            //get the cell value
            let cellVal = Cells.item(j).innerHTML;
            vals.push(cellVal);
        };
    };
    return vals;
};

function saveVRP(){
    //get array of dataframe values
    let results = getDFValues();
    //convert array to JSON
    let vrpJSON = JSON.stringify(results);
    //set the hidden field value to the serialized JSON data
    document.getElementById('saveFieldVRP').value = vrpJSON;
    //submit the form
    document.getElementById('saveFormVRP').submit();
    console.log("success")
};
</script>

</html>